.header {
  position: sticky;
  z-index: 3;
  background: rgba(68 68 68, 0.75);
  width: 100%;
  height: var(--header-height);
  padding: 0 2rem;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  user-select: none;
  pointer-events: none;
}

@media (max-width: 1500px) {
  .header {
    position: relative;
  }
}

@media (max-width: 350px) {
  .header {
    padding: 0 1rem;
  }
}

.logo {
  height: 4.5rem;
  pointer-events: initial;

}

@media (max-width: 400px) {
  .logo {
    height: 4rem;
  }
}

.nav {
  margin-left: auto;
  text-align: right;

  pointer-events: initial;
  vertical-align: middle;
  flex:1;
}

.link {
  color: #ececec;
  font-weight:500;
  margin: auto 0.75rem;

  min-height: 3rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link:after {
  content: "";
  display: block;
  position: relative;
  bottom: 2px;
  width: 0;
  height: 3px;
  border-radius: 6px;
  background: var(--link-underline);

  transition: all 0.2s cubic-bezier(.47,0,.89,.16);
}

.link:hover:after {
  width: 100%;

  transition: all 0.2s cubic-bezier(.47,0,0,1.8);
}

.link:active:after, .link.active:after {
  width: 120%;

  transition: all 0.2s cubic-bezier(.47,0,0,1.8);
}

.link.active:hover:after {
  width: 100%;

  transition: all 0.2s cubic-bezier(.47,0,0,1.8);
}
