.header {
  position: sticky;
  z-index: 3;
  width: 100%;
  height: var(--header-height);
  padding: 0 2rem;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  user-select: none;
  pointer-events: none;
}

@media (max-width: 1560px) {
  .header {
    position: relative;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 0 1.25rem;
  }
}

.logo {
  height: 4.5rem;
  pointer-events: initial;

}

.logo.flipped {
  transform: rotate(180deg);
}

@media (max-width: 500px) {
  .logo {
    height: 4rem;
  }
}

@media (max-width: 450px) {
  .logo {
    height: 3.25rem;
  }
}

@media (max-width: 350px) {
  .logo {
    height: 2.75rem;
  }
}

.nav {
  margin-left: auto;
  text-align: right;

  vertical-align: middle;
  flex: 1;
}

@media (max-width: 400px) {
  .nav {
    font-size: 0.9rem;
  }
}

/* @media (max-width: 355px) {
  .nav {
    font-size: 0.8rem;
  }
} */

.link {
  color: var(--colours-light-1);
  font-weight:500;
  margin: auto 0.75rem;

  min-height: var(--header-height);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  pointer-events: initial;
}

@media (max-width: 355px) {
  .link {
    margin: auto 0.5rem;
  }
}

.link:after {
  content: "";
  display: block;
  position: relative;
  bottom: 2px;
  width: 0;
  height: 3px;
  border-radius: 6px;
  background: var(--link-underline);

  transition: width 0.2s cubic-bezier(.47,0,.89,.16);
}

.link:hover:after, .link:active:after, .link.active:after, .link.secret:after {
  width: 100%;

  transition: width 0.2s cubic-bezier(.47,0,0,1.8);
}

.link.active:hover:after, .link:active:hover:after, .link.secret:hover:after {
  width: 120%;

  transition: width 0.2s cubic-bezier(.47,0,0,1.8);
}

.link.active:active:after,.link.secret:active:after  {
  width: 100%;

  transition: width 0.2s cubic-bezier(.47,0,0,1.8);
}

.secret {
  position: absolute;
  top:-100vw;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s cubic-bezier(.47,0,0,1.8);
}

@media (min-width: 500px) {
  .visible {
    position: relative;
    top: 0;
    display: inline-flex;
    opacity: 1;
    pointer-events: auto;
  }
}
