.control {
  background: var(--colours-dark-3);
  --border-colour: var(--colours-dark-4);
  border-radius: 3px;
  overflow: hidden;
  vertical-align: middle;
}

.input {
  --perDigit: 0.66rem;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  border: none;
  width: calc(4px + 0.5rem + (var(--digits) * var(--perDigit)));
  height: 100%;
  padding: 2px 0px 2px 4px;
  color: inherit;
  background: var(--colours-dark-3);
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

@media print {
  .input {
    font-weight: inherit;
  }
}

.input:focus, .input:focus ~ * {
  outline: none!important;
  background: var(--colours-dark-4);
  --border-colour: var(--colours-dark-5);
  cursor: unset;
  border-radius: 0; /* iOS Bug */
}

.servingsName {
  --perDigit: 0.55rem;
  appearance: none;
  border: none;
  height: 100%;
  width: calc(4px + 0.5rem + (var(--maxLetters) * var(--perDigit)));
  padding: 2px 0px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  cursor: pointer;
  outline: transparent!important;
}

.incDec {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  height: 100%;
  background: inherit;
}

@media print {
  .incDec {
    display: none;
  }
}

.incDec button {
  appearance: none;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3px 4px 0px 4px;
  border: none;
  color: var(--colours-light-2);
  background: inherit;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  border-left: 1px solid var(--border-colour);

  cursor: pointer;
}

.incDec button:hover, .incDec button:focus {
  outline: none!important;
  background: var(--colours-dark-4);
}

.incDec button:active {
  background: var(--colours-dark-5);
}

.incDec button:disabled {
  color: var(--colours-dark-5);
  cursor: not-allowed;
}

.incDec button:not(:first-child) {
  border-top: 1px solid var(--border-colour);
}

/* HACK SAFARI DESKTOP + iOS  */
@media not all and (min-resolution:.001dpcm) {
  @media {
    .incDec button {
      padding-top: unset;
      padding-bottom: 3px;
    }
  }
}

.equals {
  color: var(--colours-mid-2);
  margin: 0 0.125rem;
}

.recipeScaleInput {
  --perDigit: 0.475rem;

  height: 1.75rem;
  appearance: none;
  border: none;
  background: none;
  color: var(--colours-mid-2);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  border-radius: 3px;
  padding: 2px 4px;

  width: calc((var(--digits) * var(--perDigit)) + (0.77rem + (0.55rem * ((var(--digits) - 1) / 6))));
  min-width: 1.96rem;
  text-align: center;

  cursor: pointer;
}

.recipeScaleInput:focus {
  outline: none!important;
  color: inherit;
  background: var(--colours-dark-4);
  --border-colour: var(--colours-dark-5);
  cursor: unset;
}
