.checkable {
  display: inline-block;
  position: relative;
}

.checkable:before {
  content: "";
  display: inline-block;
  background: var(--colours-green);
  height: 2.5px;
  width: 0;
  position: absolute;
  top: 50%;
  left: calc(100% + 4px + 2px);
  border-radius: 3px;

  transition: width 0.25s ease-out, left 0.25s ease-out;
}

.checked {
  cursor: pointer;
}

.checked:before {
  width: calc(100% + 10px);
  left: -4px;

  transition: width 0.075s ease-in, left 0.075s ease-in;
}