.loading {
  overflow: hidden;
}

.loading:before {
  content: attr(alt);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:  2rem;
  color: var(--colours-dark-3);
  background: var(--colours-dark-1);
}
