.recipeConfig {
  margin: 2rem auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  border-radius: 4px;
}

@media print {
  .recipeConfig, .container {
    margin: unset;
  }
}

.container {
  margin: 2rem auto;
  border-radius: 4px;
}

.recipeConfig, .container {
  --colours-background: var(--colours-dark-1);
  --colours-background-next: var(--colours-dark-2);
  --colours-shadow: var(--colours-dark-shadow-1);

  background: var(--colours-background);
}


.recipeConfig .container {
  margin: unset!important;
  min-width: 50%;
}

.content {
  padding: 1.75rem 2rem;

  vertical-align: middle;
  /* overflow-x: auto; */
  white-space: nowrap;
}

@media (max-width: 650px) {
  .content {
    width: 100%;
  }
}

@media print {
  .content {
    padding: 0;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

@media print {
  .title {
    margin: 0;
    display: inline;
  }
}

.icon {
  margin-right: 0.25rem;
}

.control {
  --controlHeight: 2.4rem;
  font-size: 1.05rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--controlHeight);
  margin-right: 0.5rem;

  vertical-align: middle;
}

@media print {
  .control {
    margin: 0;
  }
}