.value {
  font-weight: 500;
}

.unit {
  margin-left: 1px;
  color: var(--colours-mid-3);
}

.unit.normalSpace {
  margin-left: unset;
}

.interactive .quantity {
  cursor: pointer;
}

.interactive .quantity:hover .unit{
  color: var(--unit-accent);
}

.name {
  margin-left: 4px;
  
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 2px;
  text-decoration-thickness: 3px;
}

.interactive.hover .name {
  text-decoration-color: var(--colours-accent);
  transition: text-decoration-color 0.2s ease-in;
}

.conjunction, .alternative {
  font-style: italic;
  color: var(--colours-mid-3);
}
