.container {}

.imageContainer{
  position: relative;
}

.imageContainer img {
  margin: 0!important;
}

.imageContainer > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageContainer > svg * {
  fill: currentColor;
  fill-opacity: 0.333;
  stroke: currentColor;
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;

  cursor: help;

  transform-origin: center;
  transform-box: fill-box;

  stroke-linecap: round;
  stroke-linejoin: round;

  transition: fill-opacity .12s ease-in, transform .06s ease-in;
}

.imageContainer > svg > *:hover,
.imageContainer svg .active {
  fill-opacity: 0.5;
  transform: scale(1.1);

}

.key {
  columns: 3;
  overflow: visible;
}

@media (max-width: 650px) {
  .key {
    columns: 2;
    overflow: visible;
  }
}

.key li {
  break-inside: avoid;
  min-height: 2rem;
  margin-bottom: 1rem;
}

.key li .group {
  cursor: default;
  margin-top: calc(-2rem + 1px);

  /* white-space: nowrap; */
  overflow:visible;
}

.key .primary {
  height: 1rem;
  font-size: 1rem;
  margin: 0;
}

.key li:hover .primary, .key .active .primary, .key li:target .primary {
  /* color: var(--colour); */
  text-decoration: overline;
  text-decoration-color: var(--colour);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;

  /* font-weight: 500; */
}

.key .secondary {
  display: block;
  color: var(--colours-mid-1);
  font-size: 0.9rem;
  margin-top: -0.25rem;
  line-height: 1.25;
  /* height: 1rem; */
  /* font-weight: 400; */
}

.key li:hover .secondary, .key .active .secondary {
  color: var(--colours-light-2);
}

.colourIndicator {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: -1.5rem;
  background: var(--colour);

  border-radius: 4px;
  /* vertical-align: bottom; */
}