.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.empty {
  font-weight: 400;
  margin-bottom: 4rem;
  color: var(--colours-low-5);
}
