.photos {
  display: grid;
  grid-template-columns: repeat(var(--columns), auto);
  column-gap: 1rem;
  row-gap: 1rem;
  align-self: center;

  width: 100%;
  margin-top: 1rem;
  padding: 0 0.5rem;
  overflow: visible;
}

@media (max-width: 900px) {
  .photos {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 800px) {
  .photos {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 650px) {
  .photos {
    grid-template-columns: auto;
  }
}

.photo {
  display: flex;
  justify-content: center;
  height: fit-content;
}

@media (max-width: 650px) {
  .photo:nth-of-type(n+5) {
    display: none;
  }
}

.photo img {
  width: 100%;
  max-width: var(--photo-size);
  height: intrinsic;
  margin: 0;

  background: transparent;

  transition: transform 0.15s ease-out,
              box-shadow 0.15s ease-out;
}

.photo:hover img {
  transform: scale(1.05);
  box-shadow: 0 0 2rem 1rem var(--colours-dark-shadow);

  transition: transform 0.2s cubic-bezier(.47,0,0,1.54),
              box-shadow 0.2s cubic-bezier(.47,0,0,1.54);
}

@media (max-width: 650px) {
  .photo img {
    max-width: unset;
  }
}
