.category {
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 6px 4px 6px;
  margin: 0.3rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.8rem;
  user-select: none;
  position: relative;
  z-index: 1;

  cursor: pointer;
  background: var(--category-background);
  color: var(--colours-light)!important;
}

.category:active {
  color: var(--colours-dark)!important;
  background: var(--colours-light);
}

.category:after {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--colours-dark);
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  z-index: -1;
  border-radius: 3px;
  transition: width 0.2s ease-out,
              height 0.2s ease-out,
              left 0.2s ease-out,
              top 0.2s ease-out,
              opacity 0.2s ease-out;
}

.category:hover:after {
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  opacity: 0;
  transition: width 0.1s ease-in,
              height 0.1s ease-in,
              left 0.1s ease-in,
              top 0.1s ease-in,
              opacity 0.1s ease-in;
}

.category:active:after {
  background: var(--colours-light);
}
