:root{
  --font-family: 'Rubik', -apple-system, 'Futura', 'Arial', sans-serif, 'Emoji';

  font-family: var(--font-family);
  font-size: 18px;
}


@font-face {
    font-family: 'Rubik';
    src: url('black.woff2') format('woff2'),
         url('black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('blackitalic.woff2') format('woff2'),
         url('blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('bold.woff2') format('woff2'),
         url('bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('bolditalic.woff2') format('woff2'),
         url('bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('light.woff2') format('woff2'),
         url('light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('lightitalic.woff2') format('woff2'),
         url('lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('medium.woff2') format('woff2'),
         url('medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('mediumitalic.woff2') format('woff2'),
         url('mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('regular.woff2') format('woff2'),
         url('regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('italic.woff2') format('woff2'),
         url('italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-bold.woff2') format('woff2'),
         url('sf-mono-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-bolditalic.woff2') format('woff2'),
         url('sf-mono-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-italic.woff2') format('woff2'),
         url('sf-mono-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-light.woff2') format('woff2'),
         url('sf-mono-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-lightitalic.woff2') format('woff2'),
         url('sf-mono-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-medium.woff2') format('woff2'),
         url('sf-mono-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-mediumitalic.woff2') format('woff2'),
         url('sf-mono-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-regular.woff2') format('woff2'),
         url('sf-mono-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-regularitalic.woff2') format('woff2'),
         url('sf-mono-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-semibold.woff2') format('woff2'),
         url('sf-mono-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-semibolditalic.woff2') format('woff2'),
         url('sf-mono-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: "Emoji";
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
  font-display: swap;
}
