@import './rubik';
@import './sf-mono';

:root{
  --font-family: 'Rubik', 'Fallback', 'Emoji';
  --font-family-monospace: 'SF Mono', monospace;

  font-family: var(--font-family);
  font-size: 18px;
}

@font-face {
  font-family: "Emoji";
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
  font-display: swap;
}
