@font-face {
    font-family: 'Rubik';
    src: url('black.woff2') format('woff2'),
         url('black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('blackitalic.woff2') format('woff2'),
         url('blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('bold.woff2') format('woff2'),
         url('bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('bolditalic.woff2') format('woff2'),
         url('bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('light.woff2') format('woff2'),
         url('light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('lightitalic.woff2') format('woff2'),
         url('lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('medium.woff2') format('woff2'),
         url('medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('mediumitalic.woff2') format('woff2'),
         url('mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('regular.woff2') format('woff2'),
         url('regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('italic.woff2') format('woff2'),
         url('italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    ascent-override: 94.482421875%;
    descent-override: 32.666015625%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    ascent-override: 94.482421875%;
    descent-override: 32.666015625%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    ascent-override: 93.017578125%;
    descent-override: 31.15234375%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    ascent-override: 92.3828125%;
    descent-override: 31.15234375%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    ascent-override: 90.478515625%;
    descent-override: 28.369140625%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    ascent-override: 89.599609375%;
    descent-override: 28.369140625%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    ascent-override: 92.08984375%;
    descent-override: 30.17578125%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    ascent-override: 91.2109375%;
    descent-override: 30.17578125%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    ascent-override: 91.30859375%;
    descent-override: 29.052734375%;
    line-gap-override: 0%;
}

@font-face {
    font-family: 'Fallback';
    src: local("Arial");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    ascent-override: 89.990234375%;
    descent-override: 29.052734375%;
    line-gap-override: 0%;
}
