.post {
  display: block;
  padding: 1.15rem;
  border-radius: 5px;
  transition: transform 0.15s ease-out,
              background 0.15s ease-out,
              box-shadow 0.15s ease-out;
  max-width: max-content;
}

.post:hover {
  transform: scale(1.05);
  background: var(--colours-dark-1);
  box-shadow: 0 0 2rem 1rem var(--colours-dark-shadow);

  transition: transform 0.2s cubic-bezier(.47,0,0,1.54),
              background 0.2s cubic-bezier(.47,0,0,1),
              box-shadow 0.2s cubic-bezier(.47,0,0,1.54);
}

@media (max-width: 900px) and (min-width: 760px) {
  .post {
    padding: 0.75rem;
  }
}

.post h1 {
  margin: 0;
}

.title {
  color: var(--colours-light);
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0 auto;
}

.emoji {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  user-select: none;
  line-height: normal;
  float: left;
  margin: -0.5rem 0.5rem 0 0;
  padding-top: 2px;
}

@media (max-width: 900px) and (min-width: 760px) {
  .emoji {
    font-size: 1rem;
  }
}

.description {
  color: var(--colours-mid-2);
  font-weight: 400;
  line-height: 1;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem auto 0 auto;
}

@media (max-width: 900px) and (min-width: 760px) {
  .description {
    margin:0.75rem auto 0 auto;
  }
}

.readingTime {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--colours-accent);
  vertical-align: middle;

  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  display: inline-block;

  user-select: none;

  transition: opacity 0.2s ease-in;
}

.post:hover .readingTime {
  opacity: 1;
}

.post img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.post img + h1 {
  margin-top: 1rem;
}
