.errorCode {
  --colour-a: var(--colours-light);
  --colour-b: var(--colours-pink-red);

  --duration: 1.5s;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 0.4;
  user-select: none;

  animation-duration: var(--duration);
  animation-name: errorFlash;
  animation-iteration-count: infinite;
}

.errorCode:nth-child(2n) {
  animation-delay: calc(var(--duration) / 2);
}

@keyframes errorFlash {
  0% {
    color: var(--colour-a);
  }

  49% {
    color: var(--colour-a);
  }

  50% {
    color: var(--colour-b);
  }

  100% {
    color: var(--colour-b);
  }
}

.errorMessage {
  font-weight: 400;
  margin-bottom: 4rem;
  color: var(--colours-mid);
}
