.app {
  --header-height: 6rem;
  --footer-height: 7rem;

  background-color: var(--colours-dark);
  color: var(--colours-light);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.app.loadGlitchFix *, .app.loadGlitchFix *:before, .app.loadGlitchFix *:after {
  transition: none!important;
}

.content {
  overflow: visible;

  --line-height: 1.75;
  line-height: var(--line-height);
  font-size: 1rem;

  min-height: calc(100vh);
}

@media (max-width: 1400px) {
  .content {
    min-height: calc(100vh - var(--header-height));
  }
}

@media print {
  .app {
    color: inherit!important;
    background: transparent!important;
  }

 .app > *:not(.content) {display: none}

 .content * {
   color: inherit!important;
   background: transparent!important;
 }
}
