.post {
  max-width: 1000px;
  width: calc((100vw - 3.5rem));

  margin: var(--header-height) auto;
}

.post *:not(li):not(figure) {
  max-width: 100%;
  overflow-x: scroll;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
}

.description {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400!important;
  line-height: 1.1;
  overflow: hidden;

  color: var(--colours-mid-2);
  margin-top: -1rem;
}

.categories {
  text-align: center;
}

.date {
  display: inline-block;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: right;
  width: 100%;
  color: var(--colours-dark-3);

  letter-spacing: 0.8px;
}


.body h2:not(:first-child) {
  margin-top: 4rem;
}
