.memojiWrapper {
  position: relative;
  display: flex;
}

.memoji {
  user-select: none;
}

.notReady {
  opacity: 0;
}

.ready {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}


.cta {
  position: absolute;
  overflow: visible;
  left: 5%;
  /* top: 5%; */
  pointer-events: none;
  color: #FF0086;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.cta.active {
  opacity: 1;
  display: block;
  transition-delay: 1s;
}
