.handle {
  --width: 4px;
  width: calc(3rem);
  height: 100%;

}

@media (pointer: coarse) {
    .handle {
      cursor: pointer;
    }
}

.handle:after {
  content: "";
  display: block;
  width: var(--width);
  height: 100%;
  background: var(--colours-accent);
  transform: translateX(1.5rem);
  border-radius: var(--width);
}
