.link {
  --height: calc(var(--line-height) * 1rem);
  position: relative;
  white-space: nowrap;

  text-decoration: underline;
  text-decoration-color: var(--colours-dark-2);
  text-underline-offset: 2px;
  text-decoration-thickness: 3px;

  transition: text-decoration-color 0.2s ease-in;
}

@media print {
  .link {
    text-decoration: none;
  }
}

.link .quantity {
  --offset: 10px;
  position: absolute;
  left: 50%;
  top: calc((-1 * var(--height)) - var(--offset));
  display: flex;
  width: max-content;
  max-width: unset;
  overflow: visible;
  white-space: nowrap;
  z-index: 100;
  background: var(--colours-dark-2);
  /* color: var(--colours-dark); */
  align-items: center;
  justify-content: center;
  line-height: 100%;
  border-radius: 3px;
  padding: 0 5px;
  transform: translateX(-50%);

  box-shadow: 0px 0px 4px 4px var(--colours-dark-shadow);

  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out, height 0s ease-out 0.2s;
}

.link:hover, .link.hover  {
  text-decoration-color: var(--ingredient-accent);
}

.link:hover .quantity {
  height: calc(var(--height) + var(--offset));
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.1s ease-in, height 0s ease-out 0s;
}
