@import './colours';
@import './fonts';

html,
body {
  --colours-accent: var(--colours-blue);
  --colours-accent-antithesis: var(--colours-pink);
  --colours-background: var(--colours-dark);
  padding: 0;
  margin: 0;
  background-color: var(--colours-background);
}

@media print {
  html, body {
    --colours-background: var(#fff);
    color: #000;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  color: var(--colours-light);
  background-color: var(--colours-accent-antithesis);
}

::-webkit-scrollbar {
    display: none;
}
